# adding virtual env folder to prevent pushing it
virt/

# bytcode files generated during runtime

__pycache__/
*.pyc 
*.pyo

# django-spacific files to kept private

*.log
db.sqlite3
media/

# VS code 
.vscode/

# Environment variables
.env 
